#prepare-cams-modal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-backdrop="static")
        .modal-dialog.modal-lg(role='document')
          .modal-content
            .modal-header
              h3#prepare-cam-modal-title.modal-title= _('pcm_title')
            .modal-body
              .row
                .col-md-8.col-md-offset-2
                  h5#modal-pcm-error.modal-pcm-text= _('pcm_camera_error')
                  h5#modal-pcm-created.modal-pcm-text= _('pcm_project_created')
                  h5#modal-pcm-loaded.modal-pcm-text= _('pcm_project_loaded')
                  h5#modal-pcm-capture-error.modal-pcm-text= _('pcm_capture_error')
            .modal-footer
              a.btn.btn-default(href='/')= _('pcm_return')
              a.btn.btn-primary.hidden(href='', id='no-cam-continue-btn')= _('pcm_continue_no_cams')
              a.btn.btn-primary(href='', id='prepare-cam-continue-btn')= _('pcm_continue')