doctype html
html
    include ./layouts/head.jade
    body
        include ./layouts/topbar.jade
        main.main-container
            .ocr-container

            a#process-btn.btn.btn-default.pull-right(href='', data-toggle='modal', data-target='#processing-modal')= _('s_next')
            #processing-modal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-backdrop="static")
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h3#config-modal-title.modal-title= _('s_processing_phase')
                  .modal-body
                    .row
                      .col-md-8.col-md-offset-2
                        h5= _('s_generating_output')
                        img#loading-book-gif(src='/assets/images/loadingBook.gif')
                  .modal-footer
                    a.btn.btn-default(href='/scan')= _('s_cancel')
                    a#show-output.button.btn.pull-right.btn-primary.disabled(href="/pages")= _('s_next')
            #photo-modal.modal
              .modal-dialog
                .modal-content
                  .modal-body

        include ./layouts/footer.jade
