doctype html
html
  include ./layouts/head.jade
  body
    include ./layouts/topbar.jade

    main.main-container
      div#loading-div
        div#loading-msg
          img#loading-img(src="/assets/images/loading.gif")
          h4#loading-cams-msg= _('tb_loading_cams')
      if projects == []:
        h4.showProjectError= _('sp_no_saved_projects')
      else:
        .projects-section
          each val in projects
            .row(class="project-row-"+val[0])
              .col-md-8.col-md-offset-2
                .project-box
                  .project-info
                    h3= val[1]["name"]
                    h5= val[1]["description"]
                    h6= val[1]["creation_date"]
                  .project-buttons(id=val[0])
                    a.remove-project-btn(href="", alt=_('sp_remove_project'), title=_('sp_remove_project'))
                      img(src="../assets/images/remove.png")
                    a.load-project-btn(href="", alt=_('sp_load_project'), title=_('sp_load_project'))
                      img(src="../assets/images/openProject.png")

      include ./layouts/modalPrepareCams.jade

    include ./layouts/footer.jade
    script(src='/assets/js/showProjects.js')